$rick-morty-palette: (
  green-primary: #97ce4c,
  green-secondary: #88dd74,
  green-bg: #dbf0ea,
  yellow: #e3e08e
);

$type-colors: (
  'bug': #a1af22,
  'dark': rgb(59, 47, 47),
  'dragon': rgb(91, 64, 153),
  'electric': rgb(255, 200, 49),
  'fairy': rgb(255, 153, 196),
  'fighting': rgb(90, 33, 36),
  'fire': rgb(201, 27, 5),
  'flying': rgb(59, 75, 150),
  'ghost': rgb(57, 40, 122),
  'grass': rgb(5, 180, 5),
  'ground': rgb(168, 150, 71),
  'ice': rgb(133, 217, 245),
  'normal': rgb(173, 173, 173),
  'poison': rgb(80, 3, 99),
  'psychic': rgb(167, 14, 103),
  'rock': rgb(128, 104, 41),
  'steel': rgb(175, 175, 175),
  'water': rgb(26, 105, 224)
);
