@import '~styles/_variables.scss';

$indices: 1, 2, 3, 4, 5, 6;

.pokemonstats-container {
  height: 200px;
  width: 390px;
  @each $index in $indices {
    g:nth-child(#{$index}) {
      rect:nth-child(2) {
        fill: rgba(41, 78, 83, 0.123);
      }

      rect:nth-child(3) {
        transition: width 0.4s linear;
        transition-delay: $index * 0.05s;
      }

      text:nth-child(5) {
        transition: opacity 0.4s linear;
        transition-delay: $index * 0.15s;
        font-size: 11px;
      }
    }
  }
}
